html, body {
  font-size: 9.9pt;
  line-height: 11.8pt;
  hyphens: auto;
}
html {
  background: transparent url(./v-squared-corner.png) top left no-repeat scroll;
  background-size: 4in;
}

body {
  position:absolute;
  top: 0;
  left: 0;
  font-family: "Roboto Slab", Arimo, sans-serif;
  color: #113;
  color: #002;
  width: 8.5in;
  height: 11in;
  margin:0;
  padding: 0.1in 0.25in 0 .25in;
}
body.shadow {
  box-shadow: 1px 1px 1rem #002;
}
body.crop-lines {
  border-right:1px solid red;
  border-bottom:1px solid red;
}

h1, h2, h3, h4 {
  font-family: "Roboto Condensed", Arimo, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: rgb(37,41,50); /* color: #252932; */
  color: rgb(30,47,70);
  color: #001;
}

ul {
  margin: 0;
  padding-left: 1em;
}

ul li {
  list-style-type: square;
  margin: 0.25rem 0;
  line-height: 124%;
}

main {
  width: 60em;
  margin: 1.25rem auto 0 auto;
  display: grid;
  grid-template-columns: 27% 73%;
}

main > header {
  grid-column: 1/3;
  grid-row: 1;
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: 2;
  margin-bottom: 1em;
}

main > header > h1 {
  grid-column: 1/2;
  grid-row: 1;
}

main > header > h2 {
  font-size: 1.4rem;
  color: rgba(0,0,16,0.6);
  margin: 0.6rem 0 0 2rem;
  grid-column: 1/2;
  grid-row: 2;
}

main > header > aside {
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1rem;
  color: #002;
  margin-left: 0.2rem;
  font-family: "Roboto";
}

section.experience {
  grid-row: 2;
}

main > nav {
  grid-column: 1/2;
  grid-row: 2;
  font-family: "Roboto Condensed";
}

main section {
  margin: 0 0 0 0.9rem; /* <- visual balance, match with "main section article" below */
  padding: 0;
  grid-column: 2/3;
  grid-row: auto;
}

main section article {
  margin: 0;
  padding: 0.8rem 0 0 0.8rem; /* match with "main section" padding above */
  border-left: 1px solid rgba(0,0,10,0.3);
}

main section article:first-of-type {
  border-image: -moz-linear-gradient(bottom, rgba(30,47,70,0.3), transparent) 1 100%;
}
main section article:last-of-type {
  border-image: -moz-linear-gradient(top, rgba(30,47,70,0.3), transparent) 1 100%;
}

main > nav > h2,
main > section > header > h2 {
  position: relative;
  border-bottom: 1px solid rgba(0,0,10,0.2);
  border-bottom-image: linear-gradient(to right, rgba(30,47,70,0.5), transparent);
  border-bottom-image-slice: 1;
  border-width: 1px;
}
main > section > header > h2 {
  margin-left: 1rem;
  font-size: 1.875rem;
  line-height: 1.3rem;
}
main > nav > h2 {
  font-family: "Roboto";
  margin: 1.25rem 0 0 0;
  font-size: 1.4rem;
  line-height: 0.94rem;
}
main > nav > h2: first-of-type {
  margin-top: 0;
}

main > section > article {
  display: grid;
  grid-template-columns: 12% 88%;
}

main > section > article > header {
  grid-column: 2/3;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main > section > article > header > h3 {
  font-size: 1.2rem;
  padding-right:1rem;
  font-weight: 400;
  text-indent: -1rem;
  margin-left: 1rem;
}
main > section > article > header > h4 {
  font-size: 1.25rem;
  color:#002;
  font-weight: 300;
}

main > section > article > aside {
  font-size: 95%;
  margin: 0.1rem 0 0 0;
  grid-column: 1/2;
  grid-row: 1/3;
}

main > section > article > ul {
  grid-column: 2/3;
  grid-row: 2;
}

span.start, span.end {
  line-height: 120%;
  white-space: nowrap;
  display: block;
  font-weight: normal;
  font-size: 90%;
}
span.start + span.end {
  padding-left: 0.6rem;
}

a {
  text-decoration: none;
  color:rgb(0, 0, 238);
}

dl {
  margin: 0;
}

main > nav > dl > dt {
  margin: 0.5rem 0 0 0;
  paddgin: 0;
  font-weight: 700;
  white-space:pre;
}
main > nav > dl > dd {
  font-size: 95%;
  margin: 0;
  display: inline-block;
}

main > nav > dl: first-child {
 color: red;
  margin-top: 10em;
}

nav div.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  font-size:0.975rem;
}

nav div.skills div {
  line-height: 140%;
  border: 1px solid rgba(0,0,16,0.22);
  border: 1px solid transparent;
  margin: 0 .2rem 0 0;
  align-items: stretch;
}

abbr {
  text-decoration: none;
}

dd.hang {
  padding-left: 0.5rem;
  text-indent: -0.5rem;
}

footer {
  font-family: "Roboto Condensed";
  text-align: center;
  grid-column: 1/3;
  margin:1.25rem 0.7rem 0 0;
  font-size:8pt;
}

.overflow { /* lower priority, preventing a single-page layout */
    display:none;
}

.firefox, .safari, .chrome { /* .generic is there to fallback */
  display:none;
}

/* CSS hack to get output method to auto-identify, only works with safari right now */
@media not all and (min-resolution:.001dpcm) { @media {
  .safari {
    display:inline;
  }
  .firefox {
    display:none;
  }
}}
